@model Vote.Web.Data.Entities.VoteEvent

@{
	ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
	<h4>Voting Event</h4>
	<p>
		<a asp-action="CreateCandidate" asp-route-id="@Model.Id" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Create Candidate</a>
	</p>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Name)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Description)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Description)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.ImageUrl)
		</dt>
		<dd>
			@if (!string.IsNullOrEmpty(Model.ImageUrl))
			{
				<img src="@Url.Content(Model.ImageUrl)" alt="Image" style="width:300px;height:450px;max-width: 100%; height: auto;" />
			}
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.StartDate)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.StartDate)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.EndDate)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.EndDate)
		</dd>
		<dd>
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Products</h3>
						</div>
						<div class="panel-body">
							<table class="table table-hover table-responsive table-striped" id="ProductsTable">
								<thead>
									<tr>
										<th>
											@Html.DisplayNameFor(model => model.Candidates.First().ImageUrl)
										</th>
										<th>
											@Html.DisplayNameFor(model => model.Candidates.First().Name)
										</th>
										<th>
											@Html.DisplayNameFor(model => model.Candidates.First().Proposal)
										</th>
									</tr>
								</thead>
								<tbody>
									@foreach (var candidate in Model.Candidates)
									{
									<tr>
										<td>
											@if (!string.IsNullOrEmpty(candidate.ImageUrl))
											{
												<img src="@Url.Content(candidate.ImageUrl)" alt="Image" style="width:75px;height:75px;max-width: 100%; height: auto;" />
											}
										</td>
										<td>
											@Html.DisplayFor(modelCandidate => candidate.Name)
										</td>
										<td>
											@Html.DisplayFor(modelCandidate => candidate.Proposal)
										</td>
										<td>
											<button data-id="@candidate.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog">Delete</button>
										</td>
									</tr>
									}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</dd>
	</dl>
</div>
<div>
	<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
	<a asp-action="Index">Back to List</a>
</div>
