@model Vote.Web.Data.Entities.VoteEvent

@{
	ViewData["Title"] = "Details";
}

<h1>Results</h1>

<div>
	<h4>Voting Results</h4>
	<p>
		<a asp-action="CreateCandidate" asp-route-id="@Model.Id" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Create Candidate</a>
	</p>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Name)
		</dt>
		<dd>
			<table>
				<tbody>
					@foreach (var candidate in Model.Candidates)
					{
						<tr>
							<td>
								@Html.DisplayFor(modelCandidate => candidate.Name)
							</td>
							<td>
								@Html.DisplayFor(modelCandidate => candidate.Proposal)
							</td>
							<td>
								@Html.DisplayFor(modelCandidate => candidate.voteResult)
							</td>
						</tr>
					}
				</tbody>
			</table>
		</dd>
	</dl>
</div>
<div>
	<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
	<a asp-action="Index">Back to List</a>
</div>
